.Home_Blurb{
    background-color: #ffffff;
    color: #ae9300;
    text-align: center;
    padding: 20px 40px;
}

.Home_Blurb h2{
    font-family: "Libre Baskerville", serif;
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 24px;

}

.Home_Blurb p{
    font-family: "Brandon Grotesque", Arial, sans-serif;
    font-size: 16px;
}

.Home_Cards {
    padding: 50px 100px;
}