.Home_Blurb{
    background-color: #ffffff;
    color: #ae9300;
    text-align: center;
    padding: 20px 40px;
}

.Home_Blurb h2{
    font-family: "Libre Baskerville", serif;
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 24px;

}

.Home_Blurb p{
    font-family: "Brandon Grotesque", Arial, sans-serif;
    font-size: 16px;
}

.Home_Cards {
    padding: 50px 100px;
}

/*Layout Change*/
/* .Home_Image{
    position: sticky;
    top:0;
    height: 80vh;
    overflow: hidden;
}

.Home_Image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Home_Blurb{
    position: relative;
    z-index: 2;

    background-color: #ffffff;
    color: #ae9300;
    text-align: center;
    padding: 20px 40px;
}

.Home_Blurb h2{
    font-family: "Libre Baskerville", serif;
    margin-bottom: 24px;
    font-weight: 300;
    font-size: 24px;

}

.Home_Blurb p{
    font-family: "Brandon Grotesque", Arial, sans-serif;
    font-size: 16px;
}

.Home_Cards {
    padding: 50px 100px;
} */